
header {
    text-align: center; 
    padding: 20px;
}
ul{
    list-style: none; 
}

h1{
    color: rgb(73, 250, 9);
    background: black;
    padding: 15px;
    border-radius: 25px;
    margin: 70;
}
body{
    background-color: rgb(161, 161, 39);
    margin: 5%;
    background-image: linear-gradient(to left,rgb(55, 74, 241), rgb(213, 78, 251));
}
h2{
    color: rgb(18, 3, 3);
    padding: 10px;
    border-radius: 25px;
    margin: 70;
}